#ROOT DIRECTORY
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.netlify
*.local
.env

#CLIENT DIRECTORY
# Logs
/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*

/client/node_modules
/client/dist
/client/dist-ssr
/client/*.local
/client/.env
/client/.env.local
/client/.env.production
/client/.env.development

# Editor directories and files
/client/.vscode/*
/client/!.vscode/extensions.json
/client/.idea
/client/.DS_Store
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?

# Local Netlify folder
/client/.netlify

#SERVER DIRECTORY
# Logs
/server/logs
/server/*.log
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/pnpm-debug.log*
/server/lerna-debug.log*

/server/node_modules
/server/dist
/server/dist-ssr
/server/*.local

# Editor directories and files
/server/.vscode/*
/server/!.vscode/extensions.json
/server/.idea
/server/.DS_Store
/server/*.suo
/server/*.ntvs*
/server/*.njsproj
/server/*.sln
/server/*.sw?

/server/.env