$brand-colors: (
  gray-900: #16131D,
  gray-800: #21222B,
  gray-700: #2A2933,
  gray-600: #302F38,
  gray-500: #40424E,
  gray-200: #A2A2B0,
  zinc-700: #3f3f46,
  red-600: #dc2626,
  orange-600: #ea580c,
  amber-500: #f59e0b,
  lime-500: #84cc16,
  sky-500: #0ea5e9,
  pink-500: #ec4899,
  rose-500: #f43f5e,
);